.gradle
.idea
*.iml
.DS_Store
/build
app/build/
.vscode/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
output.json
*.hprof
.cxx/
